@font-face {
    font-family: 'Open Sans';
    src: url('/webfonts/OpenSans-Regular.ttf');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/webfonts/OpenSans-SemiBold.ttf');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/webfonts/OpenSans-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/webfonts/OpenSans-ExtraBold.ttf');
    font-weight: 800;
    font-display: swap;
}

@import "fontawesome/fontawesome.scss";
// @import "fontawesome/regular.scss";
@import "fontawesome/solid.scss";
@import "fontawesome/brands.scss";

$fa-font-path: '/webfonts';

body {
    min-height: 100vh;
    margin: 0;
    padding: 40px 5%;
    font-family: 'Open Sans', sans-serif;
    background: url('/images/background-final.jpg') fixed repeat-x;
}

$primary: #81a1b0;


h1+.info {
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    color: #888;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 18px;
}

h6 {
    color: #525050;
    font-size: 13px;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h6 {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}

p {
    margin-top: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
    background: #ffffff;
    box-sizing: border-box;
    filter: drop-shadow(0 1px 6px #0003);
}

header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 7px solid $primary;

    @media (max-width: 900px) {

        label {
            display: block !important;
            text-align: center;
            color: $primary;
            margin-bottom: 10px;
        }

        input {
            display: block !important;
            visibility: hidden;
            position: absolute;
        }

        input:checked+nav {
            height: 336px;
        }

        nav {
            flex-direction: column !important;
            border-top: 0 !important;

            height: 0;
            overflow: hidden;
            transition: height 400ms;

            a {
                border: 0 !important;
            }
        }

    }

    label,
    input {
        display: none;
    }

    nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        border-top: 1px dotted #b2b2b2;
        border-bottom: 7px solid $primary;
        font-size: 14px;

        a {
            padding: 17px 30px 19px;
            border-top: 3px solid transparent;
            border-right: 1px dotted #b2b2b2;
            margin-right: -1px;
            color: #424242;
            font-weight: 600;
            text-decoration: none;
            transition: border-color 200ms;

            &.active,
            &:hover {
                border-color: $primary;
            }
        }
    }

    #logo {
        width: 100%;
        object-fit: cover;
    }

    .social {
        padding: 5px 20px;
        border-bottom: 1px dotted $primary;
        color: #c5c5c5;

    }
}

#banner {
    width: 100%;
    object-fit: cover;
}

main {
    z-index: 1;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-gap: 3.4%;

    @media (max-width: 900px) {
        grid-template-columns: auto;
        grid-gap: 20px;
    }
}

article {
    .post {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 20px 15px;
        padding-top: 30px;
        border-top: 1px dotted $primary;
        margin-bottom: 30px;

        .header {
            grid-column: span 2;
        }

        .title {
            color: $primary;
            font-size: 1.4em;
            margin: 0;
        }

        .subtitle {
            color: #888;
            font-size: 12px;
            font-style: italic;
            font-weight: 600;
            margin: 5px 0 0;
        }

        .thumbnail {
            grid-row: span 2;
        }

        .more {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            align-items: flex-start;
            text-align: center;
        }
    }
}

.button {
    display: block;
    background: $primary;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background 200ms;
    cursor: pointer;

    &:hover {
        background: #617a86;
    }
}

.recent {
    .post {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 5px 12px;
        margin-bottom: 30px;
    }

    img {
        grid-row: span 2;
    }

    h4 {
        color: #424242;
        font-weight: 800;
        font-size: 14px;
        margin: 0;
    }

    p {
        font-size: 12px;
        font-style: italic;
        font-weight: 600;
        color: #888888;
        margin: 0;
    }
}

form {
    display: grid;
    grid-template: auto / auto;
    grid-gap: 15px;
    width: 100%;

    label {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        font-size: 12px;
        font-weight: 800;
        color: #424242;

    }

    input,
    textarea {
        width: 50%;
        background: #f7f7f7;
        padding: 10px 7px;
        border-radius: 4px;
        border: 1px solid #d4d8d9;
        box-sizing: border-box;
        color: #aaa;
        font-size: 12px;
        font-weight: 600;
    }

    textarea {
        width: 100%;
        min-height: 200px;
    }

    .submit {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: flex-start;

        input {
            font-size: 14px;
            width: auto;
        }
    }
}

footer {
    border-top: 7px solid $primary;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;

    font-size: 12px;

    .widgets {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(25% - (18px * 3)), 1fr));
        grid-gap: 18px;
        padding: 30px;

        @media (max-width: 900px) {
            grid-template-columns: auto;
        }
    }

    .recent {
        @media (max-width: 900px) {
            display: none;
        }
    }

    small {
        display: block;
        width: 100%;
        padding: 20px 30px;
        box-sizing: border-box;

        color: #ffffff;
        font-size: 12px;
        font-weight: 600;
        background: $primary;
    }

}

#home {
    padding: 0;
    display: block;
}

.categories {
    h1 {
        margin-bottom: 10px;
    }
}

.blog {
    h1 {
        margin-bottom: 0;
    }

    img {
        margin-bottom: 10px;
    }
}

.page {
    ul {
        padding-left: 20px;
        list-style: "›";

        li {
            padding-left: 10px;
        }
    }

}

.slider {
    height: 39vw;
    max-height: 416px;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

blockquote {
    padding-top: 30px;
    border-top: 1px dotted $primary;
    margin-bottom: 30px;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 15px 10px;

    cite {
        color: $primary;
        grid-column: span 2;
    }
}