<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "meta" . }}

    <link rel="preload" href="/webfonts/OpenSans-Regular.ttf" as="font" crossorigin>
    <link rel="preload" href="/webfonts/OpenSans-SemiBold.ttf" as="font" crossorigin>
    <link rel="preload" href="/webfonts/OpenSans-SemiBoldItalic.ttf" as="font" crossorigin>
    <link rel="preload" href="/webfonts/OpenSans-ExtraBold.ttf" as="font" crossorigin>

    {{ $style := resources.Get "sass/base.scss" | resources.ToCSS | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body>
    {{ partial "header" . }}

    <main class="{{ .Type }}">
        {{ if eq .Section "blog" }}
        {{ .Scratch.Set "type" (humanize (strings.TrimRight "s" (delimit .Params.categories ""))) }}
        {{ else if eq .Type "categories" }}
        {{ .Scratch.Set "type" "CollectionPage"}}
        {{ else }}
        {{ .Scratch.Set "type" .Params.schema.type }}
        {{ end }}

        <article vocab="http://schema.org/" typeof="{{ .Scratch.Get "type" }}">
            {{ block "main" . }}{{ end }}
        </article>

        <aside class="recent">
            <h3>Recent Posts</h3>
            {{ range first 5 (where .Site.RegularPages.ByDate.Reverse "Section" "blog") }}
            {{ partial "sidebar" (dict "Post" . "size" 60) }}
            {{ end }}
        </aside>
    </main>

    {{ partial "footer" . }}
</body>

</html>