{{ define "main" }}
<h1>Articles</h1>
{{ range where .Pages "Section" "blog" }}
<div class="post">
    <div class="header">
        <h2 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <p class="subtitle">Posted {{ .Date.Format "January 2, 2006" }}</p>
    </div>
    {{ $img := resources.Get (printf "images/%s" .Params.image) }}
    {{ $img := $img.Fill "200x200 q100 Guassion smart" }}
    <a class="thumbnail" href="{{ .Permalink }}"><img src="{{ $img.Permalink }}" alt=""></a>
    <p>{{ slicestr .Summary 0 150 }}...</p>
    <div class="more"><a class="button" href="{{ .Permalink }}">Read more</a></div>
</div>
{{ end }}
{{ end }}