{{ define "header" }}
<img id="banner" src="/images/header6.jpg" alt="">
{{ end }}

{{ define "main" }}
<h1 itemprop="name">{{ .Title }}</h1>
{{ if eq .Section "blog" }}
<p class="info">Posted
    <span itemprop="datePublished" content="{{ .Date.Format "2006-02-01" }}">
        {{ .Date.Format "January 02, 2006" }}
    </span>
</p>
{{ end }}

{{ if .Params.image}}
{{ $img := resources.Get (printf "images/%s" .Params.image) }}
{{ $img := $img.Fill "200x200 q100 Gaussian smart" }}
<img id="feature" src="{{ $img.Permalink }}" alt="" itemprop="image">
{{ end }}

{{ .Content }}

{{ end }}