<footer>
    <div class="widgets">
        <div>
            <h6>Contact Us</h6>
            <p><a href="tel:+17068207456">(706) 820-7456</a></p>
            <p><a href="mailto:journal@wildwoodhealth.org">journal@wildwoodhealth.org</a></p>
        </div>
        <div class="recent">
            <h6>Recent Posts</h6>
            {{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Section" "blog") }}
            {{ partial "sidebar" (dict "Post" . "size" 45) }}
            {{ end }}
        </div>
    </div>
    <small>© Copyright 2016 Journal of Health & Healing</small>
</footer>