<header>
    <div class="social">
        <a href="https://www.facebook.com/pages/The-Journal-of-Health-Healing/267956866611333?fref=ts" target="_blank">
            <i class="fab fa-facebook"></i>
        </a>
    </div>

    <a href="/"><img id="logo" src="/images/logo-banner.jpg" alt="The Joural of Health & Healing Logo"></a>

    <label for="mobile_nav_toggle"><i class="fas fa-bars"></i> Main menu</label>
    <input type="checkbox" name="" id="mobile_nav_toggle">

    <nav>
        <a href="/">Home</a>
        <a href="/articles/">Articles</a>
        <a href="/recipes/">Recipes</a>
        <a href="/testimonials/">Testimonials</a>
        <a href="/faq/">FAQ</a>
        <a href="/contact/">Contact</a>
    </nav>
    {{ block "header" . }}{{ end }}
</header>