<div class="post">
    {{ $img := resources.Get (printf "images/%s" .Post.Params.image)}}
    {{ $img := $img.Fill (printf "%dx%d q100 Gaussian smart" .size .size) }}
    <img src="{{ $img.Permalink }}" alt="">
    <h4><a href="{{ .Post.Permalink }}">{{ .Post.Title }}</a></h4>
    <p>Posted {{ .Post.Date.Format "Jan 02, 2006" }} By Journal of Health & Healing</p>
</div>