<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "meta" . }}

    {{ $style := resources.Get "sass/base.scss" | resources.ToCSS | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    {{ $script := resources.Get "js/main.js" | resources.Minify }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simple-slider/1.0.0/simpleslider.min.js" defer></script>
    <script src="{{ $script.Permalink }}" defer></script>
</head>

<body>
    {{ partial "header" . }}
    <main id="home">
        <article>
            <div class="slider" data-simple-slider>
                {{ range .Params.slides }}
                {{ $img := resources.Get (printf "images/%s" .) }}
                {{ $img := $img.Fit "960x416 q100 Gaussion smart" }}
                <img src="{{ $img.Permalink }}" />
                {{ end }}
            </div>
        </article>
    </main>
    {{ partial "footer" . }}
</body>

</html>