<form name="contact" method="POST" action="/submission" netlify data-netlify-recaptcha="true">
    <label>Name*
        <input type="text" name="name" autocomplete="off" spellcheck="off" autofocus required>
    </label>
    <label>Email*
        <input type="email" name="email" autocomplete="off" spellcheck="off" required>
    </label>
    <label>Message*
        <textarea name="message" autocomplete="off" required></textarea>
    </label>
    <div data-netlify-recaptcha="true"></div>
    <div class="submit"><input class="button" type="submit" value="Submit"></div>
</form>