<h4 id="ingredients">Ingredients</h4>
<ul>
    {{ range .Page.Params.ingredients }}
    <li property="recipeIngredient">{{ . }}</li>
    {{ end }}
</ul>

<h4 id="instructions">Instructions</h4>
<ol>
    {{ range .Page.Params.instructions }}
    <li property="recipeInstructions">{{ . }}</li>
    {{ end }}
</ol>