<meta property="name" content="{{ .Site.Title }}">
{{ range .Site.Data.testimonials }}

<blockquote property="review" typeof="Review">
    {{ $img := resources.Get (printf "images/%s" .image) }}
    {{ $img := $img.Resize "110x110 q100 Gaussion" }}
    <img src="{{ $img.Permalink }}" alt="{{ .name }}">
    <p property="description">{{ .testimony }}</p>
    <cite>
        <span property="author">{{ .name }}</span>
        {{ if .position }}
        - {{ .position}}
        {{ else }}
        {{ .degree }}
        {{ end }}
    </cite>
</blockquote>

{{ end }}